nav {
  color: #FFFFFF;
  background-color: firebrick;
  padding: 0em 1.5em;
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-family: 'Bungee', cursive;
  font-size: 1.5em
}

.write-new-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.write-new-button:hover {
  cursor: pointer;
}

.write-new-button>p {
  margin: .5em 0em;
}

.write-new-button>i {
  color: #E7C800;
  animation: bobbing 2.75s ease-in-out infinite;
}

@keyframes bobbing {
  0%, 100% {
    transform: translateY(-20%);
  }
  50% {
    transform: translateY(10%);
  }
}